html {
  height: 100%;
  width: 100%; }

body {
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0; }

header {
  width: 100%;
  height: 220px;
  background-color: #dcdcdc; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .container div {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40pt;
    line-height: initial;
    color: #767676;
    text-align: right;
    margin-left: auto; }
