@font-face {
  font-family: 'Open Sans Condensed', sans-serif;
  src: url("/fonts/OpenSansCondensed-Bold.ttf") format("ttf");
  src: url("/fonts/OpenSansCondensed-Light.ttf") format("ttf");
  src: url("/fonts/OpenSansCondensed-LightItalic.ttf") format("ttf"); }

html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

header {
  width: 100%;
  height: 220px;
  background-color: #dcdcdc; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .container div {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40pt;
    line-height: initial;
    color: #767676;
    margin-left: auto; }

menu {
  background-color: #777777;
  height: 80px;
  width: 100%;
  padding-left: 0;
  margin: 0; }
  menu ul {
    width: 980px;
    height: 100%;
    margin: auto;
    padding: auto 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    menu ul li {
      list-style-type: none;
      font-size: 20pt;
      color: white; }
      menu ul li:before {
        content: "\00a0\00a0\00a0\00a0\00a0|\00a0\00a0\00a0\00a0\00a0"; }
      menu ul li:first-of-type {
        margin-left: 0; }
        menu ul li:first-of-type:before {
          content: " "; }

.slider {
  width: 100%;
  text-align: center; }
  .slider img {
    max-width: 100vw;
    padding: 0 auto; }

main {
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.leftside {
  background-color: #777777;
  color: white;
  width: 27%;
  padding: 0px 52px 100px 33px;
  margin-bottom: 20vh; }
  .leftside span {
    float: right;
    text-decoration: underline; }

.rightside {
  margin-left: 50px;
  width: 60%;
  margin-bottom: 20vh;
  padding-bottom: 40px;
  color: #767676; }

footer {
  width: 100%;
  height: 220px;
  background-color: #777777; }
